#left-panel{
  width:150px;
  background-color: #121212;
  height: 100%;
  float: left;
}

#content-area{
  height: 100%;
  width: calc(100% - 150px);
  overflow: auto;
  padding:30px;
  background-color: #181818;
}

#app-body{
  height: calc(100% - 32px);
}

.panel-group{
  height: 100%;
  margin-bottom: 0 !important;
}

li{
  cursor: pointer;
}