<div id="title-bar">
  <div id="title">NBA Live 95 Rom Editor</div>
  <div id="title-bar-btns">
    <button id="min-btn">-</button>
    <button id="max-btn">+</button>
    <button id="close-btn">x</button>
  </div>
</div>

<div id="app-body">

  <div class="panel-group">

    <ul class="nav nav-tabs nav-stacked" id="left-panel">
      <li (click)="handleSectionClick(sectionEnum.ROM)" [class.active]="selectedSection == sectionEnum.ROM"><a>ROM</a></li>
      <li (click)="handleSectionClick(sectionEnum.Stats)" [class.active]="selectedSection == sectionEnum.Stats"><a>Stats</a></li>
      <li (click)="handleSectionClick(sectionEnum.Emulator)" [class.active]="selectedSection == sectionEnum.Emulator"><a>Emulator</a></li>
    </ul>

    <div id="content-area">

      <div id="rom-section" [hidden]="selectedSection != sectionEnum.ROM">
        <file-page></file-page>
      </div>

      <div id="stats-section" [hidden]="selectedSection != sectionEnum.Stats">
       <stats-page></stats-page>
      </div>

      <div id="emulator-section" [hidden]="selectedSection != sectionEnum.Emulator">
        <h3 style="margin-top:0px;">Emulator Settings</h3>
      </div>


    </div>

  </div>

</div>
