/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  border: 1px solid #121212;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: white;
}

#title-bar {
  background-color: #121212;
  -webkit-app-region: drag;
  height: 32px; 
  padding: 0px;
  margin: 0px; 
  color: white;
  font-family: sans-serif;
}

#title {
  position: fixed;
  top: 2px;
  left: 12px; 
  line-height: 32px;
  font-size: 14px;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 1px;
  right: 0px; 
}

#title-bar-btns button {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #F1F1F1;
  font-size: 16px;
}

#title-bar-btns button:hover {
  background-color: #3F3F41;
}

::-webkit-file-upload-button { cursor:pointer; }

.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

a, p, h3, label{
  color: white;
}

input, input.form-control {
  background-color: #333333;
  border: 1px solid black;
  color: white;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
}

.nav-tabs {
  border: none;
}

.nav-tabs > li > a {
  border-radius: 0 0 0 0;
}

.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.section-header{
  margin-top: 0px;
}

::-webkit-scrollbar {     
  background-color:#181818;
  width: .8em;
  border-left: 1px solid #383838;
  border-right: 1px solid #383838;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background:  #424242;
  border-left: 1px solid #383838;
  border-right: 1px solid #383838;
}

li{
  cursor: pointer;
}

input[type="number"] {
  width: 55px !important;
  padding-right: 5px;
}

.team-stat-section input {
  width: 160px;
}

.btn-success {
  background-color: #1DB954;
}

select {
  background-color: #333333;
}

@import "~bootstrap/dist/css/bootstrap.css";